.image-list {
  display: grid;
  /* creates a set number of columns, auto fill them, 
  and then set set the min size to be 250px
  and for 1fr, it means for every column we create, have them be equally sized */
  grid-template-columns: repeat(auto-fill, minMax(250px, 1fr));
  grid-gap: 0 10px;
  /* how tall each of the cells will be */
  grid-auto-rows: 10px;
}

.image-list img {
  width: 250px;
  grid-row-end: span 2;
}